// 字体大小
.f-font-xs {
    font-size: 12px
}

// 对齐方式
.f-text-aglin_r {
    text-align: right;
}

// 垂直水平居中
.f-xy-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%position-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}